{% extends "website/base.html" %}

{% block content %}
 <div class="productcontent">    
    <h1>our peoples</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/forbe.jfif" alt="product image">
            </div>
            <div class="itemname">FORBE</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/sachin.jfif"  alt="product image">
            </div>
            <div class="itemname">sachin</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/viswa.jfif"  alt="product image">
            </div>
            <div class="itemname">vishwanathan anand</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/sundar picai.jfif"  alt="product image">
            </div>
            <div class="itemname">sundarpichai</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/mukesh ambani.jfif"  alt="product image">
            </div>
            <div class="itemname">mukeshamboney</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/kalanidhi.jfif"  alt="product image">
            </div>
            <div class="itemname">kalanidhi</div>
        </div>
    </div>
    </div>
{% endblock  %}







