{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c2.jpg"  alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/sata ssd.jfif"  alt="product image">
            </div>
            <div class="itemname">WD Green 240 GB 2.5 inch SATA III Internal Solid State Drive</div>
            <div class="itemprice">Price: Rs.2300.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/optical.jfif"  alt="product image">
            </div>
            <div class="itemname">optical sensor</div>
            <div class="itemprice">Price: Rs.4150.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/wifi device.jfif"  alt="product image">
            </div>
            <div class="itemname">wifi device</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/switch.jfif"  alt="product image">
            </div>
            <div class="itemname">switch </div>
            <div class="itemprice">Price: Rs.50.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/battry.jfif"  alt="product image">
            </div>
            <div class="itemname">Silicon battery </div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/processor.jfif"  alt="product image">
            </div>
            <div class="itemname">Silicon processor</div>
            <div class="itemprice">Price: Rs.3500.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/watch.jfif"  alt="product image">
            </div>
            <div class="itemname">Silicon watch</div>
            <div class="itemprice">Price: Rs.500.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/microchip.jfif"  alt="product image">
            </div>
            <div class="itemname">Silicon microchip</div>
            <div class="itemprice">Price: Rs.800.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/spray.png"  alt="product image">
            </div>
            <div class="itemname">Silicon spray</div>
            <div class="itemprice">Price: Rs.500.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/lic.jfif"  alt="product image">
            </div>
            <div class="itemname">Silicon liquid and powder</div>
            <div class="itemprice">Price: Rs.700.00 </div>
        </div>
    </div>
    </div>
{% endblock  %}
